@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --swiper-theme-color: #f1f1f1 !important;
}

body {
  background-color: #141414;
}

/* Style Header Txt */
.header-txt {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

/* Row Slider*/
.swiper-wrapper {
  padding: 20px 0;
}

.swiper-slide {
  transition: 250ms all;
}
