@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #141414;
}

/* Style Header Txt */
.header-txt {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

/* Row */
.row-slide {
  overflow-x: hidden;
}

